<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/1-hbnb.js?{{ cache_id }}"></script>
  </head>
  <body>
    <ul class="amenities">
      <li>
        <input type="checkbox" data-id="1" data-name="Amenity1" class="amenity-checkbox"> Amenity1
      </li>
      <!-- Add more amenities with checkboxes here -->
    </ul>
    <div class="Amenities">
      <h4>Selected Amenities:</h4>
      <div id="selected-amenities">
        <!-- The selected amenities will be displayed here dynamically using JavaScript -->
      </div>
    </div>
    <!-- Your HTML content... -->
  </body>
</html>

